# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\LapTrinh\SpringMVC\workspace\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
